th {
  background-color: #3399ff;
  color: #ffffff;
}

td, th {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #cce6ff;
}

.conceito {
  text-align: center;
  width: 20px;
}

.redconceito {
  font-weight: bold;
  color: #ee1111;
  text-align: center;
  width: 20px;
}