<table>
<tr>
   <th rowspan="2">Nome</th>
   <th rowspan="2">CPF</th>
   <th rowspan="2">e-mail</th>
   <th colspan="2">Requisitos</th>
   <th colspan="2">Gerência de Configuração</th>
   <th rowspan="2">Metas discrepantes</th>
</tr>
<tr>
   <th>Professor</th>
   <th>Auto-avaliação</th>
   <th>Professor</th>
   <th>Auto-avaliação</th>
</tr>
<tr *ngFor="let a of tests; index as i">
   <td>{{a.aluno.nome}}</td>
   <td>{{a.aluno.cpf}}</td>
   <td>{{a.aluno.email}}</td>
   <td class="conceito" [ngClass]="{'redconceito':metaDiscrepante(a.aluno, 'requisitos')}">{{a.aluno.metas['requisitos']}}</td>
   <td class="conceito" [ngClass]="{'redconceito':metaDiscrepante(a.aluno, 'requisitos')}">{{a.aluno.autoAval['requisitos']}}</td>
   <td class="conceito" [ngClass]="{'redconceito':metaDiscrepante(a.aluno, 'gerDeConfiguracao')}">{{a.aluno.metas['gerDeConfiguracao']}}</td>
   <td class="conceito" [ngClass]="{'redconceito':metaDiscrepante(a.aluno, 'gerDeConfiguracao')}">{{a.aluno.autoAval['gerDeConfiguracao']}}</td>
   <td class="conceito" [ngClass]="{'redconceito':a.avaliacaoDiscrepante}">{{a.porcentagemDiscrepantes*100}}%</td>
</tr>
</table>
